.everyCloth {
    animation: page 0.7s ease-in-out;

    &__inner {
        display: flex;
        gap: 30px;

        .mainContant {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;

            .dopImg {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                > div {
                    width: 170px;
                    height: 230px;
                    border-radius: 10px;

                    > img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                        box-shadow: 0 1px 5px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);;

                    }
                }
            }

            .mainImg {
                width: 525px;
                height: 710px;
                border-radius: 10px;
                
                img {
                    object-fit: cover ;
                    border-radius: 10px;
                    // box-shadow: 0 1px 5px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);;

                }
            }
        }

        .line {
            background: transparent !important;
            margin: 10px 0 0 0 !important;

        }

        .dopContant {

            .prices {
                margin: 15px 0 ;

                p, i, b {
                    font-size: 25px;
                    margin: 0;
                }
            }

            h5 {
                font-size: 25px;
                font-weight: 400;
                line-height: 25px;
            }

            .push {
                height: 20px;
                width: 100%;
            }

            .actions {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 40px;

                .actionFavorite {
                    width: 30px;
                    height: 30px;
                }
            }

            .blockPay {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 30px;

                img {
                    width: 30px;
                    height: 30px;
                }

                span {
                    margin-left: 35px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                }
            }
        }
    }
}

@keyframes page {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}