.clothList {
  width: 100%;

  &__inner {
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;

    > li {
      width: 290px;
      h5 {
        font-family: Century Gothic;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: #050505;
        margin-bottom: 15px;
      }

      > p {
        font-family: Century Gothic;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #303030;
        margin: 10px 0;
      }
    }
  }
}
