.mayBeFavorite {
    width: 100%;
    display: block !important;

    h4 {
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;  
        margin: 50px 0 25px;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
    }
}