.everyBasket {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .imgMain {
      min-width: 170px;
      height: 230px;
      border-radius: 5px; 

      > img {
        border-radius: 5px;
        object-fit: cover;
      }
    }

    .infoBlock {
      min-height: 100%;
      padding: 0 60px 0 20px;
      position: relative;

      .title {
        display: flex;
        justify-content: space-between;
        width: 100%;    

        h5 {
          font-size: 16px;
          line-height: 16px;
          text-align: left;
          color: #050505;
          max-height: 38px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .actionDelete {
          min-width: 24px;
          height: 24px;
          position: absolute;
          top: 2px;
          right: 2px;
        }

      }

      p {
        font-size: 16px;
        line-height: 18px;
        text-align: left;
        color: #050505;
        margin-bottom: 15px;
      }

      .sizes {
        display: flex;
        align-items: center;
        gap: 20px;

        &__inner {
          display: flex;
          flex-direction: column;
          gap: 10px;

          // .noneImg {
          //   border: 1px solid #222;
          // }

          > b {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            text-align: center;
            color: #fff !important;
            background: #050505;
          }

          b, .colorImg {
            width: 40px;
            height: 40px;
            max-width: 40px;
            min-width: 40px;
          }

          .colorImg {
            border-radius: 50%;
            border: 1px solid #050505;
            display: flex;
            align-items: center;
            justify-content: center;

            > img {
              width: 34px;
              height: 34px;
            }

          }
        }

        span {
          color: #909090;
          font-size: 12px;
          line-height: 12px;
          text-align: left;

        }

        b {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #050505;
          font-family: Century Gothic;
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
          text-align: center;
          color: #050505;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 25px;

        button {
          width: 300px;
          height: 50px;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #fff;
       }
      }
    }
  }