.userInputAddres {
    margin-top: 20px;
    background-color: #F5F5F5;
    padding: 15px;
    border-radius: 5px;

    .line {
        margin: 15px 0 25px;
      }

    h6 {
        font-size: 16px;
        line-height: 16px;
        text-align: left;
        margin-bottom: 12px;
    }

    .choiceCloth {
        cursor: pointer;
    }

    .twoInputs {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        .choiceCloth {
            margin: 0 0 10px 0;
        }
        
    }
}