.basket {
    animation: page 0.7s ease-in-out;

    &__inner {

        h4 {
            font-family: Century Gothic;
            font-size: 30px;
            font-weight: 700;
            line-height: 20px;
            margin: 20px 0 50px;
        }

        h5 {
            font-size: 25px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
        }
    }

    &__every {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;

        .mainImg {
            width: 290px;   
            height: 390px;
            > img {
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .dopContant {
            max-width: 505px;

            p {
                margin: 15px 0;
                font-size: 25px;
                font-weight: 400;
                line-height: 25px;
                text-align: left;
            }

            .blockPay {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 30px;

                img {
                    width: 30px;
                    height: 30px;
                }

                span {
                    margin-left: 30px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }

            .counterBlock {
                display: flex;
                align-items: center;
                gap: 8px;
                margin: 15px 0 20px;
                > button {
                    width: 37px;
                    height: 37px;
                    border-radius: 6px;
                    font-size: 45px;
                    line-height: 0;
                    color: #fff;
                    
                }
                > span {
                    width: 50px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-decoration: underline;
                }
            }

            .sizesColors {
                display: flex;
                gap: 45px;
                .sizes {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 25px;
          
                    &__inner {
                      display: flex;
                      flex-direction: column;
                      gap: 10px;
          
                      > b {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Century Gothic;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 12px;
                        text-align: center;
          
                      }
          
                      b,img {
                        width: 40px;
                        height: 40px;
                      }
                    }
          
                    span {
                      font-family: Century Gothic;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 18px;
                      text-align: left;
                      color: #303030;
                    }
          
                    b {
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      border: 1px solid #050505;
                      font-family: Century Gothic;
                      font-size: 12px;
                      font-weight: 400;
                      line-height: 12px;
                      text-align: center;
                      color: #050505;
                    }
          
                    img {
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                    }
                  }
          
                
            }
        }

        .deleteAction {
            width: 350px;
            height: 100%;
            text-align: right;
            > button {
                width: 30px;
                height: 30px;
            }
        }
    }

    .confirm {
        display: flex;
        align-items: center;
        gap: 20px;

        > button {
            width: 400px;
            height: 70px;
            border-radius: 10px;
            background: #050505;
            color: #fff;
        }

        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: #909090;
            width: 180px;
        }
    }
}


@keyframes page {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }