.basket {
    animation: page 0.7s ease-in-out;

    &__inner {

        h4 {
            font-family: Century Gothic;
            font-size: 30px;
            font-weight: 700;
            line-height: 20px;
            margin: 25px 0 55px;
        }

        h5 {
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
        }

        .line {
            margin: 20px 0  ;
        }
    }

    &__child {
        display: flex;
        gap: 30px;
    }

    .result {
        gap: 8px;
        padding: 10px 0 25px 0;

        span {
            margin-right: 5px;
        }
    }

    .confirm {
        display: flex;
        align-items: center;
        gap: 20px;

        > button {
            width: 400px;
            height: 70px;
            border-radius: 10px;
            background: #050505;
            color: #fff;
            font-family: Century Gothic;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;

        }

        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: #909090;
            width: 180px;
        }
    }
}


@keyframes page {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }