.checkUser {

    > button {
        margin: 12px 0 25px;

        span {
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: #fff;
        }

        > img {
            width: 25px;
            height: 25px;
        }
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
    }
    
}