.basket__every {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  justify-content: space-between;

  .mainImg {
    width: 170px;
    height: 230px;

    > img {
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .dopContant {
    width: 505px;

    h5 {
      width: 80%;
    }

    > img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    h6 {
      font-size: 12px;
      line-height: 12px;
      color: #909090;
      margin: 14px 0 8px;
    }

    p {
      margin: 14px 0 19px;
      font-size: 16px;
      line-height: 16px;
      text-align: left;
    }

    .colors-size {
      display: flex;
      align-items: flex-start;
      gap: 20px;

      .mainTitle {
        margin: 0px 0px 8px !important;
        h3 {
          font-size: 12px;
          line-height: 12px;
          color: #909090;
          font-weight: 300;
          margin: 0;
        }
      }

      .listSize {
        padding: 0;
        li {
          > p {
            margin: 0 !important;
          }
        }
      }
    }

    .counterBlock {
      display: flex;
      align-items: center;
      gap: 5px;

      span {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 38px;
        border: 1px solid #050505;
        border-radius: 5px;
      }

      .actions {
        display: flex;
        flex-direction: column;

        button {
          width: 20px;
          height: 20px;
        }

        .minus {
          transform: rotate(180deg);
        }
      }
    }
  }

  .actionsCloth {
    width: 200px;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;

    > button {
      width: 30px;
      height: 30px;
    }
  }
}
