.sale {
  animation: page 0.7s ease-in-out;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 65px;
  }
}


@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
