.menu {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 97;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 25px;
    border-bottom: 1px solid #817e7eaa;
  }

  &__main,
  &__favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: transparent;

      > img {
        width: 27px;
        height: 27px;
      }
      > p {
        font-family: Century Gothic;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
        color: #909090;
      }
    }
  }

  &__favorite {
    width: 140px;
  }

  &__logo {
    img {
      width: 410px;
      height: 40px;
    }

    h1 {
      font-family: AKONY;
      font-size: 30px;
      font-weight: 700;
      line-height: 33px;
      text-align: center;
      text-transform: uppercase;
      color: #050505;
    }
  }

  &__zIndex {
    z-index: 102;
  }
}
