.clothColor {

  .position {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .listColor {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    
    .activeItem {
      border: 1px solid #050505;
      width: 46px;
      height: 46px;
      margin: 0;
      padding: 2px !important;
    }
  }

  .list {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 3px;
    transform: 0.8s;
    position: relative;

    &:hover {
      .activeImg {
        display: block;
        animation: page 0.6s ease-in-out;
      }

    }

    .activeImg {
      display: none;
      width: 290px;
      position: absolute;
      bottom: 38px;
      padding-bottom: 5px;
      left: 0;
      border-radius: 10px;
      transition: 1s !important;
      cursor: pointer;
      z-index: 10;
      // background: red;

      > img {
          height: 290px;
          width: 290px;
          border-radius: 10px;

      }
      &:hover {
        display: block;
      }
  
    }

    > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
.list:hover .shadowWhite {
  // display: block;
}

.shadowWhite {
  height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff5d;
  z-index: 99;
  animation: page 0.7s ease-in-out;
  display: none;
}

@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}