.descriptions {
    .title {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        width: 100%;
        margin-top: 20px;

        &__inner {
            display: flex;
            align-items: center;
            width: 50%;
            padding: 5px 20px 8px 0px;
            gap: 10px;
            width: 230px;
            cursor: pointer;

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                text-align: left;
            }

            img {
                width: 20px;
                height: 20px;
                transition: 0.5s;
            }
        }

        .activeDescr {

            p {
                color: #9b9b9b91;
            }

            img {
                transform: rotate(180deg);
                transition: 0.5s;
            }
        }

        .lineTitle {
            border-left: 1px solid #e6e6e6;

            p {
                margin-left: 15px;
            }

        }
    }

    &__main {
        animation: page 0.7s ease-in-out;

        > p {
            font-size: 16px !important;
            font-weight: 400;
            line-height: 18px !important;
            padding-right: 15px;
            margin-top: 10px;   
            animation: page 0.9s ease-in-out;
            transition: 0.5s;
            width: 93%;
        }

        .moreSescr {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-top: 10px;
            animation: page 0.9s ease-in-out;
            transition: 0.5s;

            > div {
                display: flex;
                align-items: center;
                gap: 8px;
                
                span,p {
                    font-size: 16px !important;
                    font-weight: 400;
                    line-height: 18px !important;
                    margin: 0 !important;
                }

                span{
                    color: #9b9b9b !important;
                }
            }
          

        }
    }
}


@keyframes page {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }