.myInput {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;

        i {
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;  
            color: #909090;
        }
    }

    input {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;  
        padding: 5px 15px;     
        border: 1px solid #ebebebeb;
        border-radius: 10px;
        width: 400px;
        height: 50px;
    
        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: #a4a2a26e;
        }

        &:focus {
            color: #050505;
            border: 1px solid #050505 !important;
            outline: none;
        }
    }
}


