.myInput {
    display: flex;
    flex-direction: column;
    gap: 1px;

    span {
        font-size: 14px;
        line-height: 14px;
        text-align: left;
        height: 20px;
        margin-top: 5px;
        
        i {
            font-size: 12px;
            line-height: 12px;
            color: #909090;
        }
    }

    input {
        font-size: 18px;
        line-height: 20px;  
        padding: 15px;     
        border: 1px solid #7d7d7d;
        border-radius: 5px;
        width: 425px;
        height: 50px;
        background-color: transparent;
        margin-bottom: 10px;
    
        &::placeholder {
            font-family: Unbounded;
            font-size: 16px;
            line-height: 16px;
            text-align: left;            
            color: #b9b9b9;
        }

        &:focus {
            color: #050505;
            border: 1px solid rgba(9, 9, 9, 0.518) !important;
            outline: none;
        }
    }

  
}


