@import './assets/fonts/Akony/stylesheet.css';
@import './assets/fonts/Century_Gothic/stylesheet.css';
@import './assets/fonts/Raydis/stylesheet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #050505;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Century Gothic", "Montserrat Alternates", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-family: Century Gothic;
  background-color: transparent;
}

.noneData {
  display: none;
}

.viewData {
  display: block;
}

.logoText{
  font-family: AKONY;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;

}

.line {
  width: 100%;
  height: 1px;
  margin: 11px 0 10px;
  background: linear-gradient(90deg, #ebebeb 0%, rgba(5, 5, 5, 0) 90%);
}

//////перенети в index

.listTypes {
  // background: red;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 30px;
    cursor: pointer;

    p {
      font-family: Century Gothic;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #050505;
    }
  }

  .count {
    display: block;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #909090;
    margin-right: 5px;
  }

  .activeItem {
    transition: 0.3s;
    > p,
    span {
      font-weight: 700;
      color: #050505;
      transition: 0.8s;
    }
  }
}
//////перенети в index

.choiceCloth {
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  border-radius: 10px;
  height: 50px;
  gap: 20px;

  span {
    display: block;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #fff;
  }
  > img {
    width: 25px;
    height: 25px;
  }
}

.shadow {
  height: 100vh;
  min-width: 100%;
  background-color: rgba(5, 5, 5, 0.553);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 95;
  animation: modal 0.7s ease-in-out;

}

.imgAction {
  cursor: pointer;
}

.everyPosition {
  justify-content: flex-start !important;
  gap: 35px !important;
}

.result {   
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 0 35px 0;

  p {
      font-family: Century Gothic;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      color: #050505;
  }

  span {
      font-size: 30px;
      font-weight: 400;
      line-height: 20px;
      color: #FF3535;
  }

  i {
      font-size: 30px;
      font-weight: 400;
      line-height: 20px;
      color: #909090;
      text-decoration: line-through;
  }

}

.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  border-radius: 10px;
  height: 50px;
  gap: 20px;
  border: 1px solid rgba(235, 235, 235, 0.9215686275);

  span {
    display: block;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #a4a2a26e;
  }

  > img {
    width: 25px;
    height: 25px;
  }
}

.prices {
  .price {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  p, i, b {
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #050505;
    margin: 5px 0 0 0;
    display: block;
  }

  i {
    color: #FF3535;
  }

  b {
    color: #909090;
    text-decoration: line-through;
  }
}




@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}