.decor {
    animation: page 0.7s ease-in-out;

    h5 {
        font-size: 30px;
        font-weight: 700;
        line-height: 20px;
        margin: 25px 0 40px;
    }
}

@keyframes page {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }